* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: Inter, "sans serif";
    padding: 16px;
    background-color: var(--bgcolor-grey-900);
}

:root {
    --bgcolor-grey-700: hsl(0, 0%, 20%);
    --bgcolor-grey-800: hsl(0, 0%, 12%);
    --bgcolor-grey-900: hsl(0, 0%, 8%);
    --clr-yellow: hsl(75, 94%, 57%);
}

main {
    height: 100%;
    font-family: inter, "sans serif";
}

.flex {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;

    width: 450px;
    max-width: 450px;
    background-color: var(--bgcolor-grey-800);
    border-radius: 15px;
    padding: 18px;
}

.profile-image {
    width: 85px;
    border-radius: 100px;
    object-fit: cover;
}

.profile-info_texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.profile-info_texts h1 {
    font-size: 1.7rem;
    font-weight: 700;
    color: white;
    margin-block-end: 5px;
}

.profile-info_residence {
    font-size: .73rem;
    color: var(--clr-yellow);
    font-weight: 700;
}

.profile-about {
    font-size: .73rem;
    color: rgb(151, 151, 151);
}

ul {
    display: flex;
    flex-direction: column;
    gap: .7rem;

    width: 100%;
    list-style-type: none;
    text-align: center;
}

ul li > * {
    display: block;
    text-decoration: none;
    color: white;
    padding-block: 20px;
    font-size: .8rem;
    font-weight: 700;
    background-color: var(--bgcolor-grey-700);
    border-radius: 8px;
}

ul li a:is(:hover, :focus) {
    background-color: var(--clr-yellow);
    color: black;
}

a {
    transition: background-color .3s ease 0s;
}

@media screen and (max-width: 375px) {
    .profile-container {
        width: 240px;
        min-width: 240px;
    }

    .profile-image {
        width: 75px;
    }

    .profile-info_name {
        font-size: 1.3rem;
    }

    .profile-info_residence, .profile-about {
        font-size: .63rem;
    }

    ul li > * {
        padding-block: 10px;
        font-size: .63rem;
    }
}